h1 {
    color: brown;
    text-align: center;
}

body{
    background-image: url("back.png");
    margin: 0px;
}
.grid{
    display: flex;
   
    flex-wrap: wrap;
    justify-content:space-between; 
    background-color: #000000;
    padding:15px;
    font-size: 20px;
    color: azure;

}